<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>
<body text="#000000" link="#222244" alink="#bbbbbb" vlink="#333333">


<div class="t2">
  <div class="t3">
    <div class="t4">
      <div class="t5">
        <a title="" href="is/GothiaForumVGR/"><img alt="" src="/info/dir/page/161/vg_logo.jpg" title=""></a>
      </div>
      <div class="title" id="title">
        <big><b>Gothia Forum för klinisk forskning</b></big>
      </div>
    </div>
    <div class="t7">
      <div class="t8">
        <div class="t9">
          <ul type="disc"></ul>
        </div>
        <div class="t10">
          <div class="t11"></div>
          <div class="t12">
            <div class="menu" id="menu">
              <hr class="hidden" />
            </div>
            <div class="t14" ></div>
          </div>
          <div class="t15">
            <div class=" firstpage content" id="content">
				<h1>Detta är Gothia Forum</h1>
			</div>
            <div class="t17"></div>
          </div>
          <div class="t18"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="t19">
    <div class="t20">
      <div class="t21">
        <div class="t22">
          <div class="t23">
            <div class="pagefooter" id="pagefooter"></div>
          </div>
        </div>
      </div>
      <div class="t25"></div>
    </div>
  </div>
</div>
</body>
</html>