.nav-menu h2 a {
	text-decoration: none;
	line-height: 1.25;
	color: #FFF;
	padding-left: 20px;
    padding-bottom: 18px;
    padding-top: 6px;
	display: block;
	outline: 0 none;
	font-size: 1em;
}

.nav-menu li {
    margin-left: -10px;

}

.nav-menu li li {
    background-color: #FFF;
    border-color: #E2E2E2 -moz-use-text-color -moz-use-text-color;
    border-right: medium none;
    border-style: solid none none;
    border-width: 1px medium medium;
    display: block;
    margin-left: -6px;
    padding-left: 6px;
    padding-top: 3px;
    width: 100%;
}

.nav-menu li a {
    background: url("../images/navigation/left_menu_link_bg.jpg") repeat-x scroll left top transparent;
	border-top: 1px solid #3F6C93;
    color: #FFF;
    display: block;
    height: auto !important;
    line-height: 1.4em;
    min-height: 20px;
    padding: 0.4em 10px 0.7em 17px;
    text-decoration: none;
}

.nav-menu li a.selected, .nav-menu li a.selected:hover {
    background: url("../images/navigation/left_menu_link_bg_haschildren_bg_selected.jpg") no-repeat scroll left top transparent;
    color: #FFF;
}

.nav-menu li li a.selected, .nav-menu li li a.selected:hover {
    background: none;
}

.nav-menu li li.selected, .nav-menu li li.selected:hover {
    background: url("../images/navigation/left_menu_link_bg_haschildren_bg_selected.jpg") no-repeat scroll left top transparent;
    color: #FFF;
}

.nav-menu li a:hover, .nav-menu li a:focus {
    background: url("../images/navigation/left_menu_link_bg_hover.jpg") repeat-x scroll left top transparent;
    text-decoration: none;
}

.nav-menu li li a {
    background-color: TRANSPARENT;
    background-image: none;
    border-top: medium none;
    color: #005195;
    display: block;
    height: auto !important;
    line-height: 16px;
    margin-bottom: 0;
    margin-left: 4px;
    min-height: 16px;
    padding-bottom: 7px;
    padding-left: 13px;
    padding-top: 2px;
    width: 87%;
}

.nav-menu li li a:hover, .nav-menu li li a:focus {
    background-image: none;
    text-decoration: underline;
}

.nav-menu ul {
	padding-left: 10px; 
	margin: 0 0 0 5px;
    list-style: none outside none;
    border-bottom: 1px solid #3F6C93;
    width: 197px;
    font-size: 14px;
}

.nav-menu ul ul {
    background: url("../images/navigation/leftMenu_ulliul_bg.gif") no-repeat scroll left top #FFF;
    border-color: -moz-use-text-color #E2E2E2;
    border-style: none solid;
    border-width: medium 1px;
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 0;
    width: 200px;
}

.nav-menu {
    background: url("../images/navigation/LeftMenu_BG_new.gif") no-repeat scroll 0 0 transparent;
    padding-top: 1px;
    padding-bottom: 0;
    max-width: 217px;
}

.nav-menu .bottom {
    background: url("../images/navigation/LeftMenu_BG_bottom.gif") no-repeat scroll 0 0 transparent;
    max-width: 217px;
    height: 55px;
}