@import url(custom_common.css);

@import url(color_schemes/green.css);

@import url(color_schemes/orange.css);

/* ---------- Base styles ---------- */

body {
	background: #EEF0F2;
	font-size: 11px;
}

a {
	color: #5B677D;
	text-decoration: underline;
}

a:hover {
	color: #06C;
	text-decoration: none;
}

hr, .separator {
	border-color: #BFBFBF transparent #FFF;
	border-style: solid;
	border-width: 1px 0;
}

#wrapper {
	background: none;
	margin: 0 auto;
	max-width: 90%;
	min-width: 960px;
	position: relative;
}

.ie6 #wrapper {
	width: 90%;
}

#banner {
	background: none;
	height: auto;
}

#banner .company-title {
	float: none;
	margin: 15px 0 0;
	position: static;
}

body #banner .logo a {
	float: left;
}

.current-community {
	display: none;
}

.logo .current-community {
	background: #A6AFBE url(../images/dock/my_places_public.png) no-repeat 15px 50%;
	color: #FFF;
	display: block;
	float: right;
	font-size: 0.8em;
	font-weight: bold;
	margin: 15px 0 0 20px;
	padding: 7px 17px 7px 40px;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

#skip-to-content:focus {
	clip: auto;
	right: 0;
	z-index: 200;
}

#sign-in {
	background: url(../images/common/key.png) no-repeat 3px 50%;
	font-weight: bold;
	padding: 5px 5px 5px 25px;
	position: absolute;
	right: 0;
	top: 1.4em;
}

.guest-community .logo .current-community {
	display: none;
}

.private-page .logo .current-community {
	background-image: url(../images/dock/my_places_private.png);
}

.ie6 #banner {
	height: 1%;
}

.ie6 #banner h1.logo {
	height: 1%;
}

/* ---------- Main navigation ---------- */

#navigation {
	background: #414445 url(../images/navigation/bg.png) repeat-x 0 0;
	clear: both;
	margin: 0 auto 5px;
	min-height: 2.2em;
	padding: 0 5px;
	position: relative;
	z-index: 1;
}

#navigation ul {
	list-style: none;
	margin: 0;
	padding: 3px;
}

.ie7 #navigation ul {
	padding: 2px;
}

#navigation li, #navigation a {
	display: inline-block;
}

.ie6 #navigation li, .ie7 #navigation li, .ie6 #navigation a, .ie7 #navigation a {
	display: inline;
	zoom: 1;
	z-index: 200;
}

#navigation li {
	position: relative;
	vertical-align: top;
}

#navigation a {
	color: #FFF;
	font-size: 1.1em;
	font-weight: bold;
	margin: 0 1px;
	padding: 3px 15px;
	text-decoration: none;
}

.ie7 #navigation a {
	padding: 4px 15px;
}

#navigation .aui-dd-drop a {
	cursor: move;
}

#navigation .selected a, #navigation a:hover, #navigation a:focus, #navigation .child-menu li a, #navigation .aui-dd-dragging, .lfr-navigation-proxy {
	background: #313334;
	color: #FFF;
	outline: 0;
	text-shadow: -1px -1px #000;
}

#navigation li:hover .child-menu {
	background: #1E2529;
	display: block;
	position: absolute;
	width: 200px;
	z-index: 200;
}

.ie6 #navigation li.hover .child-menu {
	background: #1E2529;
	display: block;
	position: absolute;
	width: 200px;
	z-index: 200;
}

.ie6 #navigation li.hover .child-menu, .ie7 #navigation li:hover ul.child-menu {
	left: 0;
	top: 25px;
}

#navigation .child-menu {
	display: none;
}

#navigation .child-menu li {
	border-width: 0 0 1px;
	display: block;
	float: none;
	margin: 0;
}

#navigation .child-menu li a {
	cursor: pointer !important;
}

.ie7 #navigation .child-menu li a {
	zoom: 1;
}

#navigation .child-menu li a:hover {
	background-color: #020509;
}

#navigation .child-menu .selected a {
	background: #020509 url(../images/navigation/bullet_selected.png) no-repeat 5px 50%;
}

/* ---------- Portlet wrapper and icons ---------- */

.portlet {
	background-color: #EEF0F2;
	border: 1px solid #C8C9CA;
	margin: 0 0 10px;
	padding: 3px;
	text-align: left;
}

.portlet-topper {
	background: #D4D4D4 url(../images/portlet/header_bg.png) repeat-x 0 0;
	border: 1px solid;
	border-color: #C8C9CA #9E9E9E #9E9E9E #C8C9CA;
	font-size: 1.1em;
}

.portlet-title {
	color: #222;
	float: none;
	font-weight: bold;
	min-width: 50%;
	padding: 5px;
	text-shadow: 1px 1px #FFF;
}

.lfr-portlet-title-editable {
	margin-top: -4px;
	z-index: 9999;
}

.ie .lfr-portlet-title-editable {
	margin-top: -6px;
}

.lfr-portlet-title-editable-content {
	padding: 0;
}

.ie .lfr-portlet-title-editable-content {
	margin-top: 4px;
}

.portlet-icons {
	float: none;
}

.portlet-icons .portlet-close-icon {
	border-width: 0;
}

.page-maximized .portlet-icons {
	font-size: 11px;
}

.portlet-icon-back {
}

.ie .portlet-title {
	padding-bottom: 5px;
}

.ie6 .portlet-topper {
	zoom: 1;
}

/* ---------- Footer ---------- */

#footer {
	text-align: right;
}

/* ---------- Hudcrumbs ---------- */

.lfr-hudcrumbs {
	position: fixed;
	top: 0;
	z-index: 200;
}

.lfr-hudcrumbs ul {
	background: #414445;
	background: rgba(0, 0, 0, 0.8);
}

.lfr-hudcrumbs .breadcrumbs li a, .lfr-hudcrumbs .breadcrumbs li span {
	color: #FFF;
}

.lfr-hudcrumbs li span {
	background-image: url(../images/common/breadcrumbs_hud.png);
}

/* ---------- Misc. ---------- */

.lfr-panel-container {
	background-color: transparent;
}

.aui-combobox .aui-field-input {
	padding: 4px 3px 3px;
	font-size: 11px;
	height: 15px;
}

.aui-combobox .aui-field {
	float: left;
	line-height: 0;
}

.lfr-portlet-title-editable-content .aui-field {
	float: none;
	display: inline;
}

/* ---------- Extras ---------- */

.portlet-borderless-bar {
	-moz-border-radius: 20px;
	-moz-box-shadow: inset 0 1px 3px #000;
	-webkit-border-radius: 20px;
	-webkit-box-shadow: inset 0 1px 3px #000;
	border-radius: 20px;
	box-shadow: inset 0 1px 3px #000;
}

.portlet-topper {
	-moz-box-shadow: 1px 1px 0 #FFF;
	-webkit-box-shadow: 1px 1px 0 #FFF;
	box-shadow: 1px 1px 0 #FFF;
}

.logo .current-community {
	-moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5), 1px 1px 0 #FFF;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5), 1px 1px 0 #FFF;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5), 1px 1px 0 #FFF;
}

#navigation li.selected a {
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.8);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.8);
}

.aui-combobox .aui-toolbar-first {
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/* ---------- EA ---------- */

.aui-tabview a:link {
	color: #004597;
	text-decoration: none;
}

.aui-tabview a:link:hover {
	color: #004597;
	text-decoration: underline;
}

.aui-tabview .aui-tab-active a:link,
.aui-tabview .aui-tab-active a:hover {
	color: #fff;
	text-decoration: none;
}

.aui-dialog-button {
	display: inline;
}

.aui-field-element {
	display: block;
	text-align: left;
}

/* form.css */

input[type="text"],
input[type="password"],
input[type="file"],
input[type="submit"],
input[type="button"],
input[type="reset"],
select,
textarea,
.textarea,
button,
a.link-button,
a:link.link-button,
a:visited.link-button {
	background-image: url(../images/forms/input_shadow.png);
	background-repeat: no-repeat;
	border: 1px solid;
	border-color: #BFBFBF #DEDEDE #DEDEDE #BFBFBF;
	font: 1em Arial, Helvetica, Verdana, sans-serif;
	padding: 5px 1px;
}

input[type="submit"],
input[type="button"],
input[type="reset"],
button,
a.link-button,
a:link.link-button,
a:visited.link-button {
	background: #F5F5F5 url(../images/forms/button.png) repeat-x 0 0;
	border-color: #DEDEDE #BFBFBF #BFBFBF #DEDEDE;
	color: #34404F;
	cursor: pointer;
	font-weight: bold;
	overflow: visible;
	padding: 5px;
	width: auto;
}

input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
button:hover,
button:focus,
a.link-button:hover {
	background: #DFF4FF;
	border: 1px solid #A7CEDF;
	color: #369;
}

input[type="submit"],
input[type="button"],
input[type="reset"],
button,
.lfr-actions,
.lfr-actions ul,
a.link-button,
a:link.link-button,
a:visited.link-button {
	background: #D4D4D4 url(../images/portlet/header_bg.png) repeat-x 0 0;
	border: 1px solid;
	border-color: #C8C9CA #9E9E9E #9E9E9E #C8C9CA;
	color: #34404F;
	font-weight: bold;
	text-shadow: 1px 1px #FFF;
}

input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
button:hover,
.lfr-actions:hover,
.lfr-actions:hover ul,
a.link-button:hover {
	background: #B9CED9 url(../images/application/state_hover_bg.png) repeat-x 0 0;
	border-color: #627782;
	color: #369;
}

input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
button:focus,
.lfr-actions:focus,
.lfr-actions:focus ul,
a.link-button:focus {
	background: #EBEBEB url(../images/application/state_active_bg.png) repeat-x 0 0;
	border-color: #555;
}

/* ---------- IE6 chokes on attribute selectors in a chain, so we separate them into their own rule ---------- */

.ie6 input.text,
input.password,
.ie6 input.submit,
.ie6 input.file,
.ie6 input.button,
.ie6 button,
.ie6 a.link-button {
	background-image: url(../images/forms/input_shadow.png);
	background-repeat: no-repeat;
	border: 1px solid;
	border-color: #BFBFBF #DEDEDE #DEDEDE #BFBFBF;
	font: 1em Arial, Helvetica, Verdana, sans-serif;
	padding: 5px 1px;
}

.ie6 input.submit,
.ie6 input.button,
.ie6 button,
.ie6 .aui-button-disabled input.submit,
.ie6 .aui-button-disabled input.button,
.ie6 .aui-button-disabled button,
.ie6 a.link-button {
	background: #D4D4D4 url(../images/portlet/header_bg.png) repeat-x 0 0;
	border-color: #DEDEDE #BFBFBF #BFBFBF #DEDEDE;
	color: #34404F;
	cursor: pointer;
	font-weight: bold;
	padding: 5px;
}

a.link-button,
a:link.link-button {
	text-decoration: none;
}

/* extras.css */
.aui-tabview-list,
.aui-tab-active,
body > .lfr-menu-list ul,
.lfr-actions,
.aui-dialog-content,
.aui-dialog .aui-widget-hd,
.modify-pages .delete-tab,
input[type="submit"],
input[type="button"],
input[type="reset"],
button,
a.link-button,
a:link.link-button,
a:visited.link-button {	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/* Task List portlet */

.task-list-wrap {
	margin: 5px;
}

.task-list-wrap ul.tasks {
	list-style-type: none;
}

.task-list-wrap li.task-item {
	padding: 3px 0;	
}

.task-list-wrap li.task-item {
	background: transparent url(../i/prio-LOW.gif) 100% 0 no-repeat;
	background-image: none;
	padding-right: 20px;
}

.task-list-wrap li.priority-high {
	background-image: url(../i/prio-HIGH.gif);
}

.task-list-wrap li.priority-medium {
	background-image: url(../i/prio-MEDIUM.gif);
}

.task-list-wrap li.priority-low {
	background-image: url(../i/prio-LOW.gif);
}

.task-list-wrap input.todo {
	margin-right: 10px;
}

.task-list-wrap label.task-label {
	color:#993333;
	font-weight: bold;
}

.task-edit-controls {
	margin-left: 20px;
}

.task-edit-controls ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.task-edit-controls ul li {
	float: left;
	height: 16px;
	line-height: 16px;
	margin-right: 5px;
}

.task-edit-controls li.edit-task,
.task-edit-controls li.delete-task {
	width: 16px;
}

.task-edit-controls li.edit-task a,
.task-edit-controls li.delete-task a {
	background: transparent url(../i/icons/pencil.png) 0 0 no-repeat;
	display: block;
}

.task-edit-controls li.edit-task a {
	background-image: url(../i/icons/pencil.png);
}

.task-edit-controls li.delete-task a {
	background-image: url(../i/icons/delete.png);
}

.task-edit-controls li.edit-task a span,
.task-edit-controls li.delete-task a span {
	font-size: 0;
	text-indent: -9999em;
}

/* AUI Dialog */
.aui-dialog-bd fieldset,
.aui-dialog-bd .aui-form fieldset {
    margin: 5px 0;
}