<nav class="sort-pages modify-pages" id="navigation">
	<h1>
		<span>#language("navigation")</span>
	</h1>

	<ul>
		#foreach ($nav_item in $nav_items)
			#if ($nav_item.isSelected())
				<li class="selected">
			#else
				<li>
			#end

				<a href="$nav_item.getURL()" $nav_item.getTarget()><span>$nav_item.getName()</span></a>

			</li>
		#end
	</ul>

    #if(!$is_signed_in)
        <a class="sign-in" href="$sign_in_url" id="liferaySignInLink">$sign_in_text</a>
    #end
    
</nav>

<div class="site-breadcrumbs">
	#breadcrumbs()
</div>