/*
main.css: The global stylesheet, used for screen and projection media types
Icons by Mark James (http://www.famfamfam.com/lab/icons/silk/) distributed under a CC license (http://creativecommons.org/licenses/by/2.5/) 
*/
/*
=Reset
*/

#sign-in {
    top: 3px;
    color: #EEE;
}

#navigation {
    background: none;
}

#heading .logo {
    text-decoration: none;
}

#heading .company-title .logo {
    text-indent: 0px;
}

blockquote, body, caption, div, dl, dt, dd, form, fieldset, h1, h2, h3, h4, h5, h6, html, li, ul, ol, p, pre, textarea, table, td, th {
    margin: 0;
    padding: 0;
}

html, body {
    color: #333;
    background: #fff;
}

body {
    font: 76%/ 1.4 Verdana, Arial, Helvetica, sans-serif;
}

address, dl, fieldset, p, pre, ul, ol, table {
    margin: 0 0 1em;
}

button {
    display: block;
    font-size: 1em;
}

ul, ol, dd {
    margin-left: 26px;
}

td ul, td ol {
    margin-left: 15px;
}

ol ul, ul ol, ul ul, ol ol, td ul, td ol {
    margin-bottom: 0;
}

blockquote {
    margin: 1em 40px;
    font-style: italic;
}

dt {
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table, th, td {
    border-bottom: 1px solid #ddd;
}

th, td {
    padding: 2px 6px;
    vertical-align: top;
}

caption, th {
    font-weight: bold;
    text-align: left;
    background: #eee;
}

caption {
    padding: 2px 6px;
    border-bottom: 1px solid #ddd;
    color: #4f4f4f;
}

img {
    border: none;
}

code, kbd, pre {
    font-family: Monaco, Courier, "Courier New", Tahoma;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    font: bold 1em/ 1.0 Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0.6em 0;
    font-size: 1.7em;
}

h2 {
    margin: 0.5em 0 0;
    font-size: 1.2em;
}

h3 {
    margin: 0 0 0.4em;
    font-size: 1.0em;
}

h4 {
    margin: 6px 0 3px;
}

h5 {
    font-style: italic;
}

h6 {
    font-weight: normal;
    font-style: italic;
}

legend {
    color: #333;
}

a:link {
    color: #004597;
}

a:visited {
    color: #03c;
}

a:hover {
    color: #00c;
    text-decoration: none;
}

a:focus, a:active {

}

/*
=Global classes
*/
/* Easy clearing of floats (see http://positioniseverything.net/easyclearing.html) */
.clearfix:after {
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    content: ".";
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1px;
}

.clearfix {
    display: block;
}

/* System messages */
.system-info {
    margin: 1em 0;
    padding: 0 12px;
    border: 2px solid;
}

.system-info h2, .system-info h3 {
    margin: 0 -12px !important;
    padding: 4px !important;
    font-size: 1.1em;
}

.system-info p {
    margin: 1em 0;
}

.error {
    color: #900;
    border-color: #900 !important;
}

.confirmation {
    color: #060;
    border-color: #060 !important;
}

.warning {
    color: #000;
    border-color: #ed0 !important;
}

.error h2, .error h3, .text.error label, .error legend {
    color: #fff !important;
    background: #900 !important;
}

.confirmation h2, .confirmation h3 {
    color: #fff !important;
    background: #060 !important;
}

.warning h2, .warning h3 {
    color: #000 !important;
    background: #ed0 !important;
}

.non-html strong {
    font-weight: normal;
}

.read-more {
    text-align: right;
}

.read-more a span {
    position: absolute;
    left: -9999px;
}

.hidden {
    display: none;
    visibility: hidden;
}

/* Structural elements, not visible when CSS is enabled */
.structural {
    position: absolute;
    left: -9999px;
}

/* Images */
img.left, img.right {
    float: left;
    width: auto;
    margin: 3px 9px 3px 0;
}

img.right {
    float: right;
    margin: 3px 0 3px 9px;
}

img.dec {
    padding: 3px;
    border: 1px solid #ccc;
}

/* Forms */
.form-general {
    margin: 3px 6px 0;
}

.form-general label {
    display: block;
    margin: 0 4px 0 0;
}

.form-general input, .form-general select, .form-general textarea {
    margin: 0;
}

.form-general .alt {
    display: inline;
    margin: 0 3px 0 0;
}

.form-general .alt1 {
    float: left;
    width: 50%;
}

.form-general .alt2 {
    float: right;
    width: 50%;
}

.text, .radio, .checkbox, .select {
    margin: 0 0 3px;
}

.text div, .radio div, .checkbox div, .select div {
    margin-left: 20px;
}

.text input {
    width: 27em;
}

.text textarea {
    width: 27em;
    height: 10em;
}

.pwd input {
    width: 6em;
}

.form-general fieldset {
    margin: 1em 0;
    padding: 5px 8px;
    border: 1px solid #ccc;
}

.control-group {
    margin: 1em 0;
}

.checkbox, .radio {
    white-space: nowrap;
}

.checkbox input, .radio input {
    vertical-align: middle;
}

.checkbox label, .radio label {
    display: inline;
    margin-left: 3px;
    vertical-align: middle;
}

.alt label {
    display: inline;
}

.submit-area {
    clear: both;
    margin: 1em 0 0.5em;
    text-align: center;
}

.size-1 input {
    width: 50px;
}

.size-2 input {
    width: 100px;
}

.size-3 input {
    width: 200px;
}

.size-4 input {
    width: 300px;
}

/*
=Main layout
*/
#doc3 {
    margin: 0;
}

/* Override YUI grids' 10px horizontal margins */
#vgr_portal_title {
    color: #FFFFFF;
    float: left;
    font-size: 26px;
    font-weight: normal;
    padding-top: 2px;
    padding-bottom: 4px;
    line-height: 0px;
}

.gecko #vgr_portal_title {
    padding-bottom: 12px;
}

#hd {
    color: #000;
    background-color: transparent;
}

#bd {
    padding: 0 12px;
    background: #fff;
}

.ie6 #bd {
    margin-top: -30px;
}

.ie6 #content-wrapper, .ie6 #layout-grid {
    padding-top: 30px;
}

.ie7 #banner, .ie6 #banner {
    zoom: 1;
    margin-bottom: -6px;
}

#ft {
    padding: 1em 0;
}

/* Accordions */
.accordion h3 a {
    padding-left: 20px;
    background-image: url(../i/folder-arrows.gif);
    background-repeat: no-repeat;
    background-position: 5px 2px;
    cursor: pointer; /* For clickable non-links, added using JavaScript */
}

.accordion h3.sel a {
    background-position: 5px -28px;
}

/*
=Skip link
*/
#skip {
    float: right;
    padding: 1px 12px 0 0;
    font-size: 0.94em;
    line-height: 1;
}

#skip a:link, #skip a:visited {
    color: #000;
}

/* 
=Top background images
*/
#vgr_bg {
    background: url(../images/dock/main_bg.jpg) repeat-x scroll 0 0;
    width: 100%;
    height: 57px;
    margin: 0;
    padding: 1px;
}

#vgr_page {
    background: url(../images/dock/top_dekor.gif) no-repeat 100%;
    background-position: 90% 0;
    width: 100%;
    height: 56px;
    margin: 0;
    padding: 1px;
}

#wrapper {
    max-width: 95%;
}

/*
=Logo
*/
a#logo {
    float: left;
    color: #000;
    margin: 6px 12px;
    text-decoration: none;
}

#banner a#logo {
    text-indent: 0;
}

a#logo:focus, a#logo:active {
    background: transparent;
}

a#logo img {
    display: block;
}

/* Login status */
#login-status {
    float: left;
    margin: 7px 0 0 30px;
    padding: 2px 0 3px 20px;
    color: #000;
    background: url(../i/icons/status_offline.png) no-repeat 0 50%;
    font-size: 0.94em;
}

#login-status.logged-in {
    margin-top: -5px;
}

#login-status a:link, #login-status a:visited {
    margin-left: 10px;
    color: #000;
}

#login-status.logged-in {
    background-image: url(../i/icons/status_online.png);
}

/*
=Main navigation
*/
#nav {
    clear: both;
    margin: 0 12px;
    padding-top: 7px;
}

#nav ul {
    float: none; /* float: left; */
    width: 100%;
    margin: 0;
    list-style: none;
    white-space: nowrap;
}

#nav li {
    float: left;
}

#nav li a {
    float: left;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
}

#nav li a:focus, #nav li a:hover {
    text-decoration: none;
}

#nav li.sel a:link, #nav li.sel a:visited {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

#nav li.sel a:focus, #nav li.sel a:hover {
    color: #000;
}

/* Nav main */
#nav-main li {
    margin: 0 3px 0 0;
    background: #004985;
}

#nav-main li.sel, #nav-main li.sel a {
    background: #fff;
}

#nav-main li a {
    position: relative;
    color: #333333;
    background: url(../images/navigation/TopMenu_bg.gif) repeat-x 0 0;
}

#nav-main li, .nav-sub li {
    list-style-type: none;
}

/* ...tab spacing */
li#tab-mitt-jobb {
    margin-right: 12px;
}

li#tab-hitta {
    margin-left: 9px;
}

/* Nav-sub */
#nav .nav-sub {
    clear: both;
    background: #fff;
}

#nav .nav-sub+.nav-sub {
    border-top: 1px solid #fff;
}

#nav .nav-sub li a {
    margin: 3px 3px 0 0;
    padding: 3px 6px 4px;
    font-size: 0.94em;
    color: #222;
    /* color: #333333;
background: url(../images/navigation/TopMenu_bg.gif) repeat-x 0 0; */
}

#nav .nav-sub li a:hover, #nav .nav-sub li a:focus, #nav .nav-sub li a:active {
    background: #efefef; /* e8e8e8 #c9dae9; */
}

#nav .nav-sub li.sel a:link, #nav .nav-sub li.sel a:visited, #nav .nav-sub li.sel a:focus, #nav .nav-sub li.sel a:hover {
/*background: #c9dae9;*/
    background: #efefef; /* #FFF; #f3f3f3; */
    border-bottom: none;
    border-left: 1px solid #c8c8c8; /* #d2d2d2; */
    border-right: 1px solid #c8c8c8;
    border-top: 1px solid #c8c8c8;
    padding: 2px 6px 4px;
}

/* Portlet Controlls */
.vgr-portlet-controlls-container {
    position: relative;
}

.vgr-portlet-controlls-left {
    position: absolute;
    left: 0;
}

.vgr-portlet-controlls-right {
    position: absolute;
    right: 20px;
}

.vgr-express-login {
    background: url("/html/icons/login.png") no-repeat scroll 0 0 transparent;
    padding-left: 20px;
}

.vgr-portlet-help {
    background-image: url("/vgr-theme/images/portlet/.sprite.png");
    background-position: 0 -144px;
    background-repeat: no-repeat;
    display: none;
    height: 16px;
    width: 16px;
    padding-left: 20px;
}

.vgr-portlet-view {
    background: url("/vgr-theme/images/arrows/01_left.png") no-repeat scroll 0 0 transparent;
    padding-left: 20px;
}

.portlet-login .portlet-icons {
    display: none;
}

.portlet-borderless-container .vgr-portlet-help {
    display: block;
}

/*
=Search
*/
#search {
    clear: right;
    float: right;
    margin: 4px 0 0;
    background: transparent;
    text-align: right;
}

#search .text {
    display: inline;
    width: auto;
    margin: 0;
}

#search .text input {
    width: 12em;
}

.search-module {
    margin: 0 0 6px;
    padding: 3px 6px;
    color: #454c41;
    background: #fae6c9;
    font-weight: bold;
}

#search .submit-area {
    display: inline;
    clear: none;
    margin: 0;
}

a.new-search {
    padding-left: 20px;
    background: url(../i/icons/magnifier.png) no-repeat;
}

/*
=Breadcrumbs
*/
#breadcrumbs {
    margin: 1em 0;
}

/*
=Sub navigation
*/
.nav-sub ul {
    margin: 0;
    list-style: none;
}

.ie6 .nav-sub li {
    background-color: #FFF;
}

.nav-sub li a {
    display: block;
    padding: 3px 10px;
    color: #333;
    text-decoration: none;
}

.nav-sub li li a {
    padding-left: 22px;
}

.nav-sub li li li a {
    padding-left: 34px;
}

.nav-sub li li li li a {
    padding-left: 46px;
}

.nav-sub li a:hover {
    background: #ffc;
}

.nav-sub li a:focus, .nav-sub li a:active {
    background: #fcf;
}

.nav-sub li a.sel {
    color: #000;
    background: #cfc;
    font-weight: bold;
}

.nav-sub li a.sel:hover {
    background: #cff;
}

/*
=Address
*/
#address {
    margin: 1em 0;
}

#address .org {
    display: none;
}

/*
=Content styling
*/
/* Intro */
.intro {
    color: #000;
    font-size: 1.2em;
}

/* Dates */
span.date {
    color: #585858;
    font-family: Verdana, Arial, sans-serif;
    font-size: 0.94em;
}

/* Article info */
.article-info {
    margin: 1em 0;
}

.article-info p {
    margin: 0;
    font-size: 0.94em;
}

/*
=Modules 
*/
.module {
    padding-bottom: 9px;
}

.module h2 {
    clear: both;
    margin: 0;
    padding: 6px;
    background: #d5e7d9;
}

.module h2.alt {
    padding-right: 0;
    padding-left: 0;
    background: transparent;
    border-bottom: 1px solid #ddd;
}

.module h2 a:link, .module h2 a:visited, .module h2 span {
    display: block;
    margin: -2px 0;
    padding: 2px 0 2px 20px;
    color: #000;
}

.module h2.open a {
    background: url(../i/icons/bullet_toggle_minus.png) no-repeat 0 50%;
}

.module h2.closed a {
    background: url(../i/icons/bullet_toggle_plus.png) no-repeat 0 50%;
}

.module h3 {
    clear: both;
    margin: 0;
    padding: 5px 6px 4px;
    color: #444;
    background-color: #f5f5f5;
}

.module h3 .date {
    color: #666;
}

.module h3 a {
    color: #465366;
}

.module h4 {
    padding: 0 6px;
}

#module-shortcuts .alt {
    margin: 0;
}

#module-shortcuts .form-general {
    margin: 3px 0 0;
}

#module-shortcuts select {
    width: 80%;
}

#module-news h2 a {
    background: url(../i/icons/chart_organisation.png) no-repeat 0 50%;
}

#module-shortcuts h2 a {
    background: url(../i/icons/heart.png) no-repeat 0 50%;
}

#module-contacts h2 a {
    background: url(../i/icons/book_addresses.png) no-repeat 0 50%;
}

#module-todos-latest h2 span {
    background: url(../i/icons/bell.png) no-repeat 0 50%;
}

#module-messages h2 span {
    background: url(../i/icons/group.png) no-repeat 0 50%;
}

/* Search - Hitta */
#module-search-filter ul {
    margin: 0 0 4px;
}

#module-search-filter li {
    margin: 0;
    list-style: none;
}

#module-search-filter li a {
    display: block;
    padding: 2px 6px;
    color: #777;
    font-weight: bold; /* background:#eee url(../i/folder-arrows.gif) no-repeat 2px 6px */
    text-decoration: none;
}

#module-search-filter li li a {
    font-weight: normal;
}

#module-search-filter li a span {
    color: #00c;
    text-decoration: underline;
}

#module-search-filter li a:focus, #module-search-filter li a:active {
    background: #eee;
    outline: none;
}

#module-search-filter li li a {
    padding-left: 18px;
}

#module-search-filter li.sel ul {
    display: block;
}

/* Profile settings */
.profile-photo {
    float: left;
    margin: 3px 0;
    border: 1px solid #ddd;
}

/*
=Info panels
*/
.info-panel {
    margin: 0;
}

.info-panel {
    padding-bottom: 5px;
    border: 1px solid #ddd;
    border-top: none;
}

.info-panel dt {
    padding: 5px 15px 0;
    border-top: 1px solid #ddd;
}

.info-panel dd {
    margin-left: 0;
    padding: 0 15px;
}

.info-panel p, .more-info p {
    margin: 0;
    font-size: 0.94em;
}

.more-info {
    clear: both;
    margin: 0;
    padding: 5px 10px 5px 20px;
    background: #eee;
}

.more-author {
    clear: both;
    background: #eee;
    font-size: 0.94em;
}

.info-toggle a {
    float: left;
    width: 15px;
    height: 15px;
    overflow: hidden;
    margin-left: -15px;
    text-indent: -9999px;
    background: url(../i/icons/bullet_toggle_plus.png) no-repeat;
}

.open.info-toggle a {
    background: url(../i/icons/bullet_toggle_minus.png) no-repeat;
}

.info-panel caption, .info-panel th, .info-panel td {
    border-bottom-color: #cde;
    background: transparent;
}

/*
=Lists - used in global modules to list items in a compact way
*/
.list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.list li {
    position: relative;
    margin: 0;
    padding: 0 1px 1px;
}

.list li p {
    margin: 0 0 0 18px;
}

.list li a {
    display: block;
    padding: 2px 2px 2px 24px;
    background-repeat: no-repeat;
    background-position: 3px 50%;
    font-weight: normal;
}

.list li span {
    display: block;
    font-weight: normal;
}

.list .unread a {
    background-color: #fea;
    font-weight: bold;
}

.list .read a {
    color: #777;
    background-color: transparent;
}

/* Priorities - todo-lists and tables */
li.prio-3, td.prio-3 {
    color: #a00;
    background: url(../i/prio-3.gif) no-repeat 100% 3px;
    font-weight: bold;
}

li.prio-2, td.prio-2 {
    color: #933;
    background: url(../i/prio-2.gif) no-repeat 100% 3px;
    font-weight: bold;
}

li.prio-1, td.prio-1 {
    color: #744;
    background: url(../i/prio-1.gif) no-repeat 100% 3px;
    font-weight: bold;
}

li.prio-3, li.prio-2, li.prio-1 {
    padding-right: 20px;
    border-bottom: 1px solid #ddd;
}

li.prio-3 label {
    color: #a00;
}

li.prio-2 label {
    color: #933;
}

li.prio-1 label {
    color: #744;
}

li.done {
    background: none;
}

li.done label {
    color: #585858;
    font-weight: normal;
    text-decoration: line-through;
}

li.done p {
    display: none;
}

/* heading icons */
h3.todos a {
    padding: 1px 0 1px 20px;
    background: url(../i/icons/tick.png) no-repeat 0 50%;
}

h3.dictations a {
    padding: 1px 0 1px 20px;
    background: url(../i/icons/sound.png) no-repeat 0 50%;
}

h3.watches a {
    padding: 1px 0 1px 20px;
    background: url(../i/icons/magnifier.png) no-repeat 0 50%;
}

h3.labtests a {
    padding: 1px 0 1px 20px;
    background: url(../i/icons/paste_plain.png) no-repeat 0 50%;
}

/* Invoices */

.invoices li.urgent a {
    background-image: url(../i/icons/error.png);
}

/* e-mail */
.emails li a {
    background-image: url(../i/icons/email.png);
}

.emails li.read a {
    background-image: url(../i/icons/email_open.png);
}

.discussions li a {
    background-image: url(../i/icons/group.png);
}

.ims li cite {
    font-style: normal;
}

.ims li cite a {
    display: inline;
    color: #00c;
    background-image: url(../i/icons/user.png);
}

.ims li blockquote {
    margin: 0;
    padding: 0 0 2px;
    border-bottom: 1px solid #ddd;
}

/*
=Tables
*/
.cols-4 th {
    width: 20%;
}

.cols-4 td {
    width: 30%;
}

.cols-2 {
    float: left;
    width: 49%;
}

.cols-2b {
    float: right;
    width: 49%;
}

.cols-2c {
    clear: both;
}

td.heading {
    width: 30%;
}

/*
=Tools
*/
.tools {
    clear: both;
    padding: 4px;
    background: #fcf1d0;
    text-align: center;
}

a.add {
    padding: 2px 10px 2px 20px;
    background: url(../i/icons/add.png) no-repeat 0 50%;
}

a.edit-table {
    padding: 2px 10px 2px 20px;
    background: url(../i/icons/table_edit.png) no-repeat 0 50%;
}

a.edit {
    padding: 2px 10px 2px 20px;
    background: url(../i/icons/pencil.png) no-repeat 0 50%;
}

a.remove, a.undo, button.remove, button.undo {
    padding: 2px 10px 2px 20px;
    background: url(../i/icons/delete.png) no-repeat 0 50%;
}

button.remove, button.undo {
    cursor: pointer;
    padding-left: 20px;
    border: none;
    text-align: left;
}

button.remove span, button.undo span {
    color: #03c;
    text-decoration: underline;
}

button.remove:hover span, button.undo:hover span {
    color: #00c;
    text-decoration: none;
}

a.undo, button.undo {
    background-image: url(../i/icons/arrow_undo.png)
}

.faded, .faded a, .faded button span {
    color: #ccc;
}

.faded .edit {
    display: none;
}

/* Hides Edit link on Watches */
/*
=News list - used in news portlets
*/
.featured {
    margin-bottom: 0.5em;
    border-bottom: 1px solid #ddd;
}

.list-news li {
    margin-top: 0.5em;
}

.list-news li p {
    margin-bottom: 0.5em;
}

/*
=Contact list
*/
.list-contacts {
    width: 100%; /* Fixes bug in IE */
    margin: 10px 0;
    padding: 0;
    list-style: none;
}

.list-contacts li {
    float: left;
    width: 24%;
    margin: 0 0 10px 5px;
    padding: 0 0 10px;
}

.list-contacts .col-first {
    clear: both;
    margin-left: 0;
}

.list-contacts p {
    margin: 0 6px;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-private h3 {
    background: #edffed;
}

.contact-work h3 {
    background: #ffefef;
}

/* Calendar overview */
#event-cal {
    margin: 0 auto 3px;
    width: auto;
}

#event-cal caption {
    width: 80%;
    margin: 3px auto;
    padding: 0;
    border: none;
    font: normal bold 1em Verdana, Arial, Helvetica, sans-serif;
    overflow: hidden;
    text-align: center;
}

#event-cal .sat, #event-cal .sun {
    background: #fdd;
}

#event-cal, #event-cal th, #event-cal td {
    padding: 2px 3px;
    border: 1px solid #ddd;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}

#event-cal td.other {
    background: #f3f3f3;
    color: #555;
}

#event-cal td.active {
    background: #f6bf41;
}

#event-cal td.today {
    font-weight: bold;
    background-color: #fceac2;
    border: 2px solid #999;
}

#event-cal td a {
    font-weight: bold;
}

span.cal-nav {
    display: block;
}

span.cal-nav a {
    font-size: 0.85em;
    color: #333;
}

span.cal-nav a.previous {
    float: left;
}

span.cal-nav a.next {
    float: right;
}

span.select-year, span.select-month {
    margin: 0 2px 0 0;
    padding: 0 6px 0 0;
    background: url(../i/dash.gif) no-repeat 100% 50%;
}

.events dd {
    margin: 0;
}

.events dd.date {
    margin: 2px 0;
    border: 1px solid #d9e8ed;
    border-width: 1px 0;
    font-weight: bold;
}

.event-data {
    padding: 8px;
    background: #d9e8ed;
}

form#calendar legend {
    padding: .5em 0 0 0;
    font-weight: bold;
}

form#calendar div {
    padding: 0 0 .5em 0;
}

form#calendar .dates fieldset {
    width: 49%;
    float: left;
    clear: none;
    padding: 0;
    border: none;
}

form#calendar .dates label {
    position: absolute;
    left: -9999px;
}

form#calendar #query {
    width: 90%;
}

form#calendar .submit {
    text-align: left;
}

form#calendar .submit input {
    width: auto;
}

/*
=Pagers
*/
p.pager {
    margin: 2px 0 0;
}

p.pager a {
    padding: 2px;
}

p.pager .prev {
    float: left;
    padding: 3px 6px 3px 20px;
    background: url(../i/icons/resultset_previous.png) no-repeat 0 50%;
}

p.pager .next {
    float: right;
    padding: 3px 20px 3px 6px;
    background: url(../i/icons/resultset_next.png) no-repeat 100% 50%;
}

.tools p.pager {
    display: inline;
}

/*
=Patient overview
*/
#module-search-patient {
    margin-bottom: 6px;
    padding: 3px 6px;
    background: #FAE6C9;
}

#module-search-patient h2 {
    display: inline;
    padding: 0;
    color: #454C41;
    background: transparent;
    font: bold 1em/ 1.0 Verdana, Arial, Helvetica, sans-serif;
}

#module-search-patient .module-content, #module-search-patient form, #module-search-patient .search-criteria {
    display: inline;
}

#module-patient-1 dl {
    clear: both;
    margin: 6px 0;
}

#module-patient-1 dt {
    float: left;
    width: 49%;
    font-weight: bold;
}

#module-patient-1 dd {
    margin-left: 50%;
}

.patient-tools {
    margin: 0;
    list-style: none;
}

.portlet-borderless-bar {
}

.portlet-topper {
    position: relative; /*background: #D5E7D9 none repeat scroll 0 0;*/
    background: #efefef none repeat scroll 0 0;
}

.portlet-content, .portlet-minimized .portlet-content-container {
    padding: 0px 0px 0px;
}

.portlet-icons {
    margin: 0;
    position: absolute;
    right: 5px;
    text-align: right;
    top: 0px;
}

.js .interactive-mode {
    background-color: transparent;
    top: 0;
    right: 30px;
}

.js .interactive-mode h2 span {
    border: none;
}

/* width of the login input fields */
div.ctrl-holder input {
    width: 200px;
}

/*Slide column styles*/
#content-wrapper.slide * #column-1, #content-wrapper.slide * #column-2, #content-wrapper.slide * #column-3, #content-wrapper.slide * #column-4 {
    float: left;
}

#content-wrapper.slide * .fifty {
    width: 50%;
}

#content-wrapper.slide * .hundred {
    width: 100%;
}

#content-wrapper.slide {
    clear: both;
    width: 100%;
    min-height: 100px;
    position: relative;
    text-align: left;
}

#main-container {
    width: 80%;
    left: 0;
}

#slide-container {
    position: absolute;
    width: 20%;
    right: 0;
    top: 5px;
}

#slide-buttons {
    float: right;
}

#slide-buttons a {
    display: none;
}

#main-container * table {
    table-layout: fixed;
}

ul, ol, dd {
    text-align: left;
}

.portlet {
    background-color: #FFF;
}

.portlet-topper {
    border-width: 0;
}

menu.portlet-topper-toolbar {
    top: 0px;
}

.ie #content-wrapper.slide * .fifty {
  width:49%;
}