/* Liferay portal customizations */
#nav-main li, .nav-sub li {
  list-style-type: none;
}

#nav ul {
  float: none;
}

a#logo {
	margin-left:6px;
}

.js .interactive-mode {
    background-color: transparent;
}

.js .interactive-mode h2 span {
	border: none;
}

/* width of the login input fields */
div.ctrl-holder input {
    width: 200px;
}