#* ------ Enable JS debug ------------------------------------- *#
	
#set ($enableDebug = false )
#set ($launchDebugger = false )

#* ------ Phrases ------------------------------------- *#

#set ($region_portal_name="Regionportalen")

#* ------ URLs ------------------------------------- *#

#set ( $logo_url = $company_url )

#if($is_signed_in)
	#set ( $logo_url = "/group/vgregion/" )
#end	